<!DOCTYPE html>

<html lang="en" ng-app="myApp" class="no-js main-container">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Data Monitoring</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body class="container" ng-controller="AppCtrl">
  <div class="main-header">
    <button class="right btn-config" ng-click="displayConfig()" ng-class="{'mgr-160':showConfig}">Data</button>
  </div>
  <div class="main-menu hidden-xs">
    <ul class="menu">
      <li ng-repeat="item in menuItems track by $index">
        <a ng-click="activeItem($index)" ng-bind="item" id="item-menu-{{$index}}"></a>
      </li>
    </ul>
  </div>
  <div class="section-container mgl-0">
    <div class="section-header">
      <h1>Tablero de Indicadores</h1>
    </div>
    <div section-bar sections="sectionsItems"></div>
    <div ng-view></div>
  </div>
  <div class="main-menu config-menu" ng-class="{'hidden':!showConfig}">
    <div class="mgt-15 mgl-25">
      <span class="config-text">Mostrar data de:</span>
    </div>
    <ul class="menu">
      <li>
        <span ng-click="setData(0)" id="item-config-0">- data1.json</span>
      </li>
      <li>
        <span ng-click="setData(1)" id="item-config-1">- data2.json</span>
      </li>
    </ul>
  </div>

  <!-- In production use: -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
   
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="directives/section-bar/section-bar.js"></script>
</body>

</html>